body {
  background-color: papayawhip;
  min-height: 700px;
}

form {
  padding-left: 20px;
  padding-right: 20px;
}

form button, form h5{
  margin: 20px 0;
}

.noti-box {
  width: 400px;
  margin: 20px 0;
  margin-left: 20px;
}

.project-list-box {
  width: 500px;
  margin: 20px;
}

.navbar-stay {
  position: fixed;
  width: 100%;
}

.navbar {
  height: 75px;
  display: flex;
}

.navbar-pot {
  align-self: center;
}

.navbar-title {
  margin-left: 20px;
}

.dashboard {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.box-detail {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.detail-box {
  width: 500px;
}

.signin-page {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.signin-box {
  width: 500px;
}

.new-project-box {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.new-project {
  width: 500px;
}

.link-button {
  margin: 5px;
}

.link-button-d {
  margin: 5px;
  margin-top: 15px;
}

.user-project-b {
  display: flex;
}
